*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #D2DAFF;

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #B1B2FF;
    width: 40%;
    min-width: 350px;
    max-height: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px #EEF1FF;
    
}

.containertask{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#inputfeild{
    min-width: 300px;
    min-height: 20px;
    background-color: #EEF1FF;
    border-radius: 50px;
    padding: 5px;
    border: 2px solid #B1B2FF;
    text-align: center;
    
    font-size: 14px;
}

#add{
    min-width: 75px;
    min-height: 25px;
    padding: 6px;
    border-radius: 50px;
    margin-left: 10px;
    background-color: #D2DAFF;
    caret-color: #AAC4FF;
    border: 2px solid #B1B2FF;
    transition: width 2s;
}

#add:hover{
    cursor: pointer;
    width: 80px;
    background-color: #FFCCCC;
}
#inputfeild:focus{
    outline: none;
    /* outline-color: #748DA6; */
    border-color: #EEF1FF;
    background-color: white;
}

.display{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

.task{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.work{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

}

.material-symbols-outlined:hover{
    cursor: pointer;
}
.material-symbols-outlined{
    background-color: #B1B2FF;
    border: none;
}


@media screen and (min-width:320px) and (max-width:450px) {
    .container{ 
        min-width: 300px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}